if productosExisten
    div(class="table-responsive")
        table(class="table table-dark")
            tr(style="color: darkorange;")
                th Nombre 
                th Precio 
                th Imagen 
            
            each producto in productos
                tr
                    td= producto.name
                    td= producto.price
                    td
                        img(src=producto.img width="30px")

unless productosExisten
    div(class="table-responsive")
        table(class="table table-dark")
            div(class="container mt-3")
                h3(style="color: rgb(59, 58, 3); background-color: rgba(226, 226, 142, 0.973);") No se encontraron productos
